{% extends 'base.html' %}
{% block title %} <title>Detalhes da Conta</title> {% endblock%}

{% block content  %}

<div class="container">
  <h2 class="text-center">Detalhes da Conta </h2>
  <div class="card text-bg-light mb-3">
    <div class="card-header">{{account.name}}</div>
    <div class="card-body">
      <h5 class="card-title">{% if account.active %} Conta Ativa {% else %} Conta Inativa {% endif %}</h5>
      <p class="card-text">Lista de Usuários : {% for user in users %} {{user}},  {% endfor %}</p>
      <a href="{% url 'edit_account' account.id %}" class="btn-default-color" >Editar <i class='bx bx-edit-alt'></i></a>
      <a href="{% url 'account_delete' account.id %}" class="btn-danger-color "> Deletar <i class='bx bx-trash '></i></a>
      
    </div>
  </div>

</div>

<script>

</script>

{% endblock %}